@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Lato:wght@100;300;400;700;900&family=Mulish:wght@200&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper .header {
  width: 100%;
  background-color: #222222;
  display: block;
  z-index: 5;
}
.wrapper .header .headerContent {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 28px;
  padding-bottom: 20px;
}
.wrapper .header .headerContent .header__left .search {
  margin-left: 41px;
  cursor: pointer;
}
.wrapper .header .headerContent .header__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .header .headerContent .header__right .header__item:not(:last-child) {
  margin-right: 25px;
}
.wrapper .header .headerContent .header__right .header__item:last-child {
  margin-left: 17px;
}
.wrapper .header .headerContent .header__right .header__item .menu {
  display: inline-block;
  position: relative;
  z-index: 10;
}
.wrapper .header .headerContent .header__right .header__item .menu .header__item-menu {
  border: none;
  background: transparent;
  cursor: pointer;
}
.wrapper .header .headerContent .header__right .header__item .menu .menu-list {
  display: block;
  position: absolute;
  height: 0;
  width: 232px;
  transition: all 1s ease;
  opacity: 0;
  z-index: 10;
  margin-top: 32px;
  list-style: none;
  background: white;
  padding-top: 37px;
  padding-left: 34px;
  margin-left: 179px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.wrapper .header .headerContent .header__right .header__item .menu .menu-list .close {
  float: right;
  margin-right: 17px;
  margin-top: -16px;
  margin-bottom: -9px;
}
.wrapper .header .headerContent .header__right .header__item .menu .menu-list summary {
  display: block;
  cursor: pointer;
}
.wrapper .header .headerContent .header__right .header__item .menu .menu-list summary::webkit-details-marker {
  display: none;
}
.wrapper .header .headerContent .header__right .header__item .menu .menu-list .menu-list_item {
  padding-top: 24px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.wrapper .header .headerContent .header__right .header__item .menu .menu-list .item-menu {
  color: black;
}
.wrapper .header .headerContent .header__right .header__item .menu .menu-list .menu-list_item ul > li {
  list-style: none;
  padding-top: 11px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.wrapper .header .headerContent .header__right .header__item .menu .menu-list .menu-list_item ul > li a {
  text-decoration: none;
  color: #6F6E6E;
  cursor: pointer;
}
.wrapper .header .headerContent .header__right .header__item .menu._active .menu-list {
  display: block;
  height: calc(100vh - 70px);
  opacity: 1;
  z-index: 10;
  margin-top: 30px;
}
.wrapper .header .headerContent .header__right .header__item .account_icon {
  cursor: pointer;
}
.wrapper .header .headerContent .header__right .header__item .bascket-icon {
  cursor: pointer;
}
.wrapper .content {
  flex-grow: 1;
  width: 100%;
}
.wrapper .content .breadcrumb {
  width: 100%;
  background: #f8f3f4;
}
.wrapper .content .breadcrumb .breadcrumbContent {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 60px;
}
.wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__left h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
.wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item:hover {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}
.wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item:last-child:hover {
  margin-left: -4px;
}
.wrapper .content .slider {
  position: relative;
}
.wrapper .content .slider .slider__wrapper {
  width: 100%;
  background: #f7f7f7;
  height: 777px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: -1;
}
.wrapper .content .slider .slider__wrapper .prev-next {
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.wrapper .content .slider .slider__wrapper .prev-next:hover .row {
  fill: #f16d7f;
}
.wrapper .content .slider .slider__wrapper .slider__container {
  max-width: 1140px;
  width: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.wrapper .content .slider .slider__wrapper .slider__container .slider__cards {
  display: flex;
  transition: all ease 1s;
  z-index: 0;
}
.wrapper .content .slider .slider__wrapper .slider__container .slider__cards .slider__cards_cards-item {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.wrapper .content .women-collection {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  padding-top: 64px;
  align-items: center;
  border: 1px solid #eaeaea;
  max-width: 1140px;
  max-height: 601px;
  margin: 0 auto;
  margin-top: -65px;
  margin-bottom: 128px;
  background-color: #ffffff;
  z-index: 22;
}
.wrapper .content .women-collection .women-collection__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .content .women-collection .women-collection__header h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}
.wrapper .content .women-collection .women-collection__header h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}
.wrapper .content .women-collection .women-collection__header .women-collection__header_bar1 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.wrapper .content .women-collection .women-collection__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .content .women-collection .women-collection__content .women-collection__content_p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  max-width: 550px;
  color: #5e5e5e;
  margin-top: 48px;
}
.wrapper .content .women-collection .women-collection__content h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin-top: 32px;
  margin-bottom: 64px;
  color: #ef5b70;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form {
  display: flex;
  margin-top: 64px;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form:not(:last-child) {
  margin-right: 30px;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect {
  color: #6f6e6e;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .selectBox img.arrow {
  color: black;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  margin-left: 9px;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .selectBox .arrowRotate {
  transform: rotateX(180deg);
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes {
  display: none;
  position: absolute;
  max-width: 120px;
  padding-top: 10px;
  padding-left: 9px;
  border: solid 1px #dadada;
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: -80px;
  z-index: 22;
  background-color: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes span {
  padding-left: 10px;
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes label {
  display: block;
  padding-top: 5px;
  z-index: 22;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check1 {
  min-width: 132px;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check2 {
  min-width: 73px;
}
.wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check3 {
  min-width: 60px;
}
.wrapper .content .addCard {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 15px 57px 9px 24px;
  color: #f26376;
  background: transparent;
  margin-top: 48px;
  margin-bottom: 64px;
  border: 1px solid #ff6a6a;
  cursor: pointer;
}
.wrapper .content .addCard span {
  margin-left: 23px;
}
.wrapper .content .addCard:hover {
  color: #ffffff;
  background: #f16d7f;
}
.wrapper .content .addCard:hover .card {
  fill: #ffffff;
}
.wrapper .content .addCard:active {
  color: #ffffff;
  background: #cf4a5c;
}
.wrapper .content .cards-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 129px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}
.wrapper .content .cards-conteiner .category__flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  gap: 30px;
  margin: 0 auto;
}
.wrapper .content .cards-conteiner .category__flex .category__card {
  width: 360px;
  background: #f8f8f8;
  color: #5d5d5d;
}
.wrapper .content .cards-conteiner .category__flex .category__card h4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  padding-left: 18px;
  padding-top: 25px;
  padding-bottom: 13px;
  color: #000000;
  cursor: pointer;
}
.wrapper .content .cards-conteiner .category__flex .category__card p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  max-width: 315px;
  padding-left: 18px;
}
.wrapper .content .cards-conteiner .category__flex .category__card h6 {
  font-family: Lato;
  padding-left: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-top: 18px;
  margin-bottom: 20px;
  color: #f16d7f;
}
.wrapper .footer {
  width: 100%;
  padding-top: 103px;
  background: #222224;
}
.wrapper .footer .footerTop .category__flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  gap: 30px;
  margin: 0 auto;
}
.wrapper .footer .footerTop .category__flex .category__item-footer {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .footer .footerTop .category__flex .category__item-footer h4 {
  padding-top: 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  text-align: center;
}
.wrapper .footer .footerTop .category__flex .category__item-footer p {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-top: 16px;
  color: #fbfbfb;
  letter-spacing: 1px;
  opacity: 0.5;
}
.wrapper .footer .footerCenter {
  margin-top: 104px;
  padding-top: 97px;
  padding-bottom: 126px;
  background-image: url("../image/photo_subscribe.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper .footer .footerCenter .category__flex-center {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  gap: 30px;
  margin: 0 auto;
  justify-content: space-between;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-left {
  flex-grow: 1;
  justify-content: center;
  max-width: 360px;
  font-family: "cursive";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-left p {
  margin-top: 30px;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-right {
  flex-grow: 1;
  max-width: 557px;
  justify-content: center;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-right h4 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-right p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-right .subscribe {
  max-width: 356px;
  height: 49px;
  margin: 32px auto;
  padding-left: 22px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  justify-content: center;
  background: #e1e1e1;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-right .subscribe .email {
  flex-grow: 2;
  border: none;
  background: transparent;
  outline: transparent;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-right .subscribe .btn-subscribe {
  flex-grow: 1;
  border: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  cursor: pointer;
  background: #f16d7f;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
.wrapper .footer .footerCenter .category__flex-center .category__item-right .subscribe .btn-subscribe:hover {
  opacity: 0.7;
}
.wrapper .footer .footerBottom {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.wrapper .footer .footerBottom .footerBottom__left {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}
.wrapper .footer .footerBottom .footerBottom__right {
  display: flex;
}
.wrapper .footer .footerBottom .footerBottom__right .header__item-social {
  width: 32px;
  height: 32px;
}
.wrapper .footer .footerBottom .footerBottom__right .header__item-social a {
  margin-right: 3px;
  background-color: white;
  color: black;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}
.wrapper .footer .footerBottom .footerBottom__right .header__item-social a:hover {
  background: #F16D7F;
  color: white;
}
.wrapper .footer .footerBottom .footerBottom__right .header__item-social:not(:last-child) {
  margin-right: 7px;
}

.wrapper {
  outline: none;
}
@media (max-width: 1024px) {
  .wrapper .header .headerContent {
    padding-left: 32px;
    padding-right: 32px;
  }
  .wrapper .header .headerContent .header__left .search {
    margin-left: 41px;
    cursor: pointer;
  }
  .wrapper .header .headerContent .header__right .header__item:first-child {
    margin-right: 25px;
  }
  .wrapper .header .headerContent .header__right .header__item .menu .menu-list {
    margin-left: 0px;
    width: 200px;
    right: -170px;
  }
}
@media (max-width: 768px) {
  .wrapper .header .headerContent {
    padding-left: 32px;
    padding-right: 32px;
  }
  .wrapper .header .headerContent .header__left .search {
    margin-left: 41px;
    cursor: pointer;
  }
  .wrapper .header .headerContent .header__right .header__item:first-child {
    margin-right: 25px;
  }
  .wrapper .header .headerContent .header__right .header__item .menu .menu-list {
    margin-left: 0px;
    right: -180px;
  }
  .wrapper .header .headerContent .header__right .header__item .menu._active .menu-list {
    overflow-y: scroll;
  }
}
@media (max-width: 425px) {
  .wrapper .header .headerContent {
    padding-left: 16px;
    padding-right: 16px;
  }
  .wrapper .header .headerContent .header__left .search {
    margin-left: 41px;
    cursor: pointer;
  }
  .wrapper .header .headerContent .header__right {
    display: block;
  }
  .wrapper .header .headerContent .header__right .header__item:first-child {
    margin-right: 16px;
  }
  .wrapper .header .headerContent .header__right .header__item:not(:first-child) img {
    display: none;
  }
  .wrapper .header .headerContent .header__right .header__item .menu .menu-list {
    margin-left: -122px;
    right: -30px;
  }
  .wrapper .header .headerContent .header__right .header__item .menu._active .menu-list {
    margin-top: 35px;
  }
}
@media (max-width: 1024px) {
  .wrapper .content {
    flex-grow: 1;
    width: 100%;
  }
  .wrapper .content .breadcrumb {
    width: 100%;
    background: #f8f3f4;
  }
  .wrapper .content .breadcrumb .breadcrumbContent {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 59px;
    padding-bottom: 60px;
    padding-left: 36px;
    padding-right: 36px;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__left h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item {
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item:hover {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item:last-child:hover {
    margin-left: -4px;
  }
  .wrapper .content .slider {
    position: relative;
  }
  .wrapper .content .slider .slider__wrapper {
    width: 100%;
    background: #f7f7f7;
    height: 624px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: -1;
  }
  .wrapper .content .slider .slider__wrapper .prev-next {
    background: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .wrapper .content .slider .slider__wrapper .prev-next:hover .row {
    fill: #f16d7f;
  }
  .wrapper .content .slider .slider__wrapper .slider__container {
    max-width: 1140px;
    overflow: hidden;
    margin: 0 auto;
  }
  .wrapper .content .slider .slider__wrapper .slider__container .slider__cards {
    display: flex;
    transition: all ease 1s;
    z-index: 0;
  }
  .wrapper .content .slider .slider__wrapper .slider__container .slider__cards .slider__cards_cards-item {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  .wrapper .content .women-collection {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    padding-top: 64px;
    align-items: center;
    border: 1px solid #eaeaea;
    max-width: 1140px;
    max-height: 601px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 128px;
    background-color: #ffffff;
    z-index: 22;
  }
  .wrapper .content .women-collection .women-collection__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper .content .women-collection .women-collection__header h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
  }
  .wrapper .content .women-collection .women-collection__header h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
  }
  .wrapper .content .women-collection .women-collection__header .women-collection__header_bar1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .wrapper .content .women-collection .women-collection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper .content .women-collection .women-collection__content .women-collection__content_p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 550px;
    color: #5e5e5e;
    margin-top: 48px;
  }
  .wrapper .content .women-collection .women-collection__content h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
    margin-bottom: 64px;
    color: #ef5b70;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form {
    display: flex;
    margin-top: 64px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form:not(:last-child) {
    margin-right: 30px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect {
    color: #6f6e6e;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .selectBox img.arrow {
    color: black;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    margin-left: 9px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .selectBox .arrowRotate {
    transform: rotateX(180deg);
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes {
    display: none;
    position: absolute;
    max-width: 120px;
    padding-top: 10px;
    padding-left: 9px;
    border: solid 1px #dadada;
    margin-top: 10px;
    margin-left: -10px;
    margin-bottom: -80px;
    z-index: 22;
    background-color: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes span {
    padding-left: 10px;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes label {
    display: block;
    padding-top: 5px;
    z-index: 22;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check1 {
    min-width: 132px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check2 {
    min-width: 73px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check3 {
    min-width: 60px;
  }
  .wrapper .content .addCard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 57px 9px 24px;
    color: #f26376;
    background: transparent;
    margin-top: 48px;
    margin-bottom: 64px;
    border: 1px solid #ff6a6a;
  }
  .wrapper .content .addCard span {
    margin-left: 23px;
  }
  .wrapper .content .addCard:hover {
    color: #ffffff;
    background: #f16d7f;
  }
  .wrapper .content .addCard:hover .card {
    fill: #ffffff;
  }
  .wrapper .content .addCard:active {
    color: #ffffff;
    background: #cf4a5c;
  }
  .wrapper .content .cards-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
  }
  .wrapper .content .cards-conteiner .category__flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    gap: 30px;
    margin: 0 auto;
  }
  .wrapper .content .cards-conteiner .category__flex .category__card {
    width: 360px;
    background: #f8f8f8;
    color: #5d5d5d;
    z-index: -1;
  }
  .wrapper .content .cards-conteiner .category__flex .category__card h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 13px;
    color: #000000;
  }
  .wrapper .content .cards-conteiner .category__flex .category__card p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    max-width: 315px;
    padding-left: 18px;
  }
  .wrapper .content .cards-conteiner .category__flex .category__card h6 {
    font-family: Lato;
    padding-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-top: 18px;
    margin-bottom: 20px;
    color: #f16d7f;
  }
  .wrapper .content .cards-conteiner .category__flex .last {
    display: none;
  }
}
@media (max-width: 425px) {
  .wrapper .content {
    flex-grow: 1;
    width: 100%;
  }
  .wrapper .content .breadcrumb {
    width: 100%;
    background: #f8f3f4;
  }
  .wrapper .content .breadcrumb .breadcrumbContent {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 46px;
    padding-left: 36px;
    padding-right: 36px;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__left h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right {
    padding-top: 32px;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item {
    text-decoration: none;
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item:hover {
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
  }
  .wrapper .content .breadcrumb .breadcrumbContent .breadcrumb__right .breadcrumb__item:last-child:hover {
    margin-left: -4px;
  }
  .wrapper .content .slider {
    position: relative;
    width: 100%;
  }
  .wrapper .content .slider .slider__wrapper {
    width: 100%;
    background: #f7f7f7;
    height: 624px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: -1;
  }
  .wrapper .content .slider .slider__wrapper .prev-next {
    background: rgba(42, 42, 42, 0.15);
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .wrapper .content .slider .slider__wrapper .prev-next:hover .row {
    fill: #f16d7f;
  }
  .wrapper .content .slider .slider__wrapper .slider__container {
    width: 100%;
    display: block;
  }
  .wrapper .content .slider .slider__wrapper .slider__container .slider__cards {
    display: flex;
    transition: all ease 1s;
    z-index: 0;
    justify-content: center;
  }
  .wrapper .content .slider .slider__wrapper .slider__container .slider__cards .slider__cards_cards-item {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    z-index: 0;
  }
  .wrapper .content .slider .slider__wrapper .slider__container .slider__cards .slider__cards_cards-item img {
    width: 100%;
  }
  .wrapper .content .women-collection {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    padding-top: 64px;
    align-items: center;
    border: 1px solid #eaeaea;
    max-width: 1140px;
    max-height: 663px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 64px;
    background-color: #ffffff;
    z-index: 22;
  }
  .wrapper .content .women-collection .women-collection__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper .content .women-collection .women-collection__header h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
  }
  .wrapper .content .women-collection .women-collection__header h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
  }
  .wrapper .content .women-collection .women-collection__header .women-collection__header_bar1 {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .wrapper .content .women-collection .women-collection__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 425px;
  }
  .wrapper .content .women-collection .women-collection__content .women-collection__content_p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 360px;
    color: #5e5e5e;
    margin-top: 32px;
  }
  .wrapper .content .women-collection .women-collection__content h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #ef5b70;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form {
    display: flex;
    margin-top: 64px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form:not(:last-child) {
    margin-right: 30px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #6F6E6E;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .selectBox img.arrow {
    color: black;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    margin-left: 9px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .selectBox .arrowRotate {
    transform: rotateX(180deg);
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes {
    display: none;
    position: absolute;
    max-width: 120px;
    padding-top: 10px;
    padding-left: 9px;
    border: solid 1px #dadada;
    margin-top: 10px;
    margin-left: -10px;
    margin-bottom: -80px;
    z-index: 22;
    background-color: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes span {
    padding-left: 10px;
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .checkboxes label {
    display: block;
    padding-top: 5px;
    z-index: 22;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check1 {
    min-width: 132px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check2 {
    min-width: 73px;
  }
  .wrapper .content .women-collection .women-collection__content .cards-conteinerHeader__form form .multiselect .check3 {
    min-width: 60px;
  }
  .wrapper .content .women-collection .women-collection__content .line {
    width: 50%;
  }
  .wrapper .content .addCard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 57px 9px 24px;
    color: #f26376;
    background: transparent;
    margin-top: 48px;
    margin-bottom: 64px;
    border: 1px solid #ff6a6a;
  }
  .wrapper .content .addCard span {
    margin-left: 23px;
  }
  .wrapper .content .addCard:hover {
    color: #ffffff;
    background: #f16d7f;
  }
  .wrapper .content .addCard:hover .card {
    fill: #ffffff;
  }
  .wrapper .content .addCard:active {
    color: #ffffff;
    background: #cf4a5c;
  }
  .wrapper .content .cards-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
  }
  .wrapper .content .cards-conteiner .category__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1140px;
    gap: 30px;
    margin: 0 auto;
  }
  .wrapper .content .cards-conteiner .category__flex .category__card {
    width: 360px;
    background: #f8f8f8;
    color: #5d5d5d;
    z-index: -1;
  }
  .wrapper .content .cards-conteiner .category__flex .category__card h4 {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 13px;
    color: #000000;
  }
  .wrapper .content .cards-conteiner .category__flex .category__card p {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    max-width: 315px;
    padding-left: 18px;
  }
  .wrapper .content .cards-conteiner .category__flex .category__card h6 {
    font-family: Lato;
    padding-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-top: 18px;
    margin-bottom: 20px;
    color: #f16d7f;
  }
  .wrapper .content .cards-conteiner .category__flex .last {
    display: none;
  }
}
@media (max-width: 1024px) {
  .wrapper .footer {
    width: 100%;
    padding-top: 103px;
    background: #222224;
  }
  .wrapper .footer .footerTop .category__flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    gap: 30px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .footer .footerTop .category__flex .category__item-footer {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .footer .footerTop .category__flex .category__item-footer h4 {
    padding-top: 28px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #fbfbfb;
    text-align: center;
  }
  .wrapper .footer .footerTop .category__flex .category__item-footer p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 16px;
    color: #fbfbfb;
    letter-spacing: 1px;
    opacity: 0.5;
  }
  .wrapper .footer .footerCenter {
    margin-top: 104px;
    padding-top: 64px;
    padding-bottom: 126px;
    background-image: url("../image/photo_subscribe.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .wrapper .footer .footerCenter .category__flex-center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    gap: 30px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .wrapper .footer .footerCenter .category__flex-center .category__item-left {
    flex-grow: 1;
    justify-content: center;
    max-width: 360px;
    font-family: "cursive";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
  }
  .wrapper .footer .footerCenter .category__flex-center .category__item-left p {
    margin-top: 30px;
  }
  .wrapper .footer .footerCenter .category__flex-center .category__item-right {
    flex-grow: 1;
    max-width: 557px;
    justify-content: center;
  }
  .wrapper .footer .footerCenter .category__flex-center .category__item-right h4 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
  }
  .wrapper .footer .footerCenter .category__flex-center .category__item-right p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
  }
  .wrapper .footer .footerCenter .category__flex-center .category__item-right .subscribe {
    max-width: 356px;
    height: 49px;
    margin: 32px auto;
    padding-left: 22px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    justify-content: center;
    background: #e1e1e1;
  }
  .wrapper .footer .footerCenter .category__flex-center .category__item-right .subscribe .email {
    flex-grow: 2;
    border: none;
    background: transparent;
    outline: transparent;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
  }
  .wrapper .footer .footerCenter .category__flex-center .category__item-right .subscribe .btn-subscribe {
    flex-grow: 1;
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    cursor: pointer;
    background: #f16d7f;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #ffffff;
  }
  .wrapper .footer .footerBottom {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .wrapper .footer .footerBottom .footerBottom__left {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
  }
  .wrapper .footer .footerBottom .footerBottom__right {
    display: flex;
  }
  .wrapper .footer .footerBottom .footerBottom__right .header__item-social {
    width: 32px;
    height: 32px;
  }
  .wrapper .footer .footerBottom .footerBottom__right .header__item-social a {
    margin-right: 3px;
    background-color: white;
    color: black;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
  }
  .wrapper .footer .footerBottom .footerBottom__right .header__item-social a:hover {
    background: #F16D7F;
    color: white;
  }
  .wrapper .footer .footerBottom .footerBottom__right .header__item-social:not(:last-child) {
    margin-right: 7px;
  }
}
@media (max-width: 425px) {
  .wrapper .footer .footerCenter {
    padding-bottom: 80px;
  }
  .wrapper .footer .footerBottom {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .wrapper .footer .footerBottom .footerBottom__left {
    order: 2;
    padding-bottom: 9px;
  }
  .wrapper .footer .footerBottom .footerBottom__right {
    order: 1;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=product.css.map */